*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /* para considerar a borda como tamanho total, para facilitar os tamanhos abaixo */
}

/* Colocando cor no fundo. */
body {
    background-color: #f6f8fc;
}

/* Espaçamento do titulo e cor de fundo da sessão onde fica o título chamado content. */
.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: #fff;

}

/* Ajustando o tamanho da Layout para tela grande, deixando os elementos centralizado */
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto; /* Quando coloca em auto ele vai colocar o max possivel para esquerda e direita */
        border-radius: 1rem;
    }
}