
/* definindo a aparência e o Layout dos elementos da Pokedex */

.pokemons {
    display: grid; /* Estamos informando que o modelo é uma grade */
    grid-template-columns: 1fr; /* vai ter 1 coluna e que vai ocupar 1 fração */
    list-style: none; /* vai retirar a numeração da lista */
    /* Removendo o preenchimento e a margem padrão da lista, tornando-a mais limpa. */
    padding: 0;
    margin: 0;
}

/* Cada uma dessas classes é associada a um tipo específico de Pokémon e define a cor de fundo para esse tipo */
.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
} 
.fire {
    background-color: #ee7f30;
}  
.water {
    background-color: #678fee;
}
.eletric {
    background-color: #f7cf2e;
} 
.ice {
    background-color: #98d5d7;
} 
.ground {
    background-color: #dfbf69;
} 
.flying {
    background-color: #a98ff0;
} 
.poison {
    background-color: #a040a0;
} 
.fighting {
    background-color: #bf3029;
} 
.psychic {
    background-color: #f65687;
} 
.dark {
    background-color: #725847;
} 
.rock {
    background-color: #b8a137;
} 
.bug {
    background-color: #a8b720;
} 
.ghost {
    background-color: #6e5896;
} 
.steel {
    background-color: #b9b7cf;
} 
.dragon {
    background-color: #6f38f6;
} 
.fairy {
    background-color: #f9aec7;
} 



/* Estilização da lista */
.pokemon {
    display: flex;/* Define o layout do Pokémon como um flex container, permitindo que os elementos dentro dele sejam organizados em uma coluna */
    flex-direction: column; /* Define como coluna e coloca um embaixo do outro */
    margin: .5rem; /* colocando espaçamento entre as grid */
    padding: 1rem; /* colocando espaçamento 1rem emcima e embaixo */
    border-radius: 1rem; /* arredondando a borda */
    
    /* height: 100px; /* aumentando o tamanho da lista */    
}

.pokemon .number {
    color: #000; 
    opacity: 0.3; /* defini a opacidade */
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize; /* deixando o texto com a primeira letra em maiusculo */
    color: #fff; /* Colocando a cor do texto */
    margin-bottom: .25rem;

}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vai deixar o texto no centro */
    justify-content: space-between; /* vai dar um espaçamento entre o texto e a imagem */
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem; /* tamanho do texto */
    border-radius: 1rem; /* vai deixar o borda mais arredondado */
    filter: brightness(1.1); /* Colocando um brilho para ficar mais visivel a escrita do tipo */
    text-align: center;
}

/* A lista de imagem dos pokemons */
.pokemon .detail img {
    max-width: 100%; /* faz com que a imagem não vase do tamanho maximo */
    height: 70px; /* tamanho de altura fixo */
    /* align-self: flex-end; faz com que somente a imagem fique para a direita */
}

/* Ajustando a quantidade de grid quando o tamanho da tela for pequena */
@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr; /* vai ter 2 colunas e cada uma vai ocupar 1 fração */
    }
}

/* Ajustando a quantidade de grid quando o tamanho da tela for media */
@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr; /* vai ter 3 colunas e cada uma vai ocupar 1 fração */
    }
}

/* Ajustando a quantidade de grid quando o tamanho da tela for grande */
@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr; /* vai ter 4 colunas e cada uma vai ocupar 1 fração */
    }
}


